lang en_US.UTF-8
keyboard us
network --bootproto=dhcp --noipv6 --onboot=on --activate
rootpw --plaintext vagrant
firewall --enabled --ssh
selinux --enforcing
timezone UTC
bootloader --timeout=0 --location=mbr --append="console=tty0 console=tty50,115200n8 no_timer_check"
skipx
zerombr
clearpart --all --initlabel
autopart --nohome --nolvm --noboot
firstboot --disabled
reboot --eject
user --name=ntomic --plaintext --password password
services --enabled=sshd

%addon com_redhat_kdump --disable
%end

%packages --ignoremissing --excludedocs
@^server-product-environment
openssh-clients
sudo
wget
nfs-utils
net-tools
tar
bzip2
deltarpm
rsync
dnf-utils
redhat-lsb-core
-dracut-config-rescue
-fprintd-pam
-intltool
-*firmware
-microcode_ctl
-plymouth
-plymouth-core-libs
-fedora-release-notes
-mcelog
-smartmontools
-usbutils
-microcode_ctl
%end

%post
# sudo
echo 'Defaults:ntomic !requiretty' > /etc/sudoers.d/ntomic
echo '%ntomic ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/ntomic
chmod 440 /etc/sudoers.d/ntomic

# Configure systemd-networkd to use DHCP on all interfaces
cat > /etc/systemd/network/99-dhcp-all.network << EOF
[Match]
Name=*

[Network]
DHCP=yes
LLMNR=no
EOF
%end
